/* HEADER */

/* Lista menu */

.w50 nav ul li {
  display: inline-block;
  padding: 25px 25px 0 25px;
  font-size: 18px;
}

.w50 nav li:hover{
  padding-bottom: 20px;
  border-bottom: 5px solid black;
}

.btn-small{
  color: white;
  background-color: rgb(0, 97, 255);
  border: 1px solid rgb(0, 97, 255);
}

.btn-small:hover, .btn-big:hover{
  color: rgb(3, 3, 3);
  border: 1px solid black;
  opacity: 0.7;;
  
}

.w50 .text-right a:hover{
  background-color: white;
}

div.text-right li:last-child{
  padding-bottom: none;
  border-bottom: none;
}

/* /lista menu */

/* /jumbotron */

.jumbotron{
  margin-top: 100px;
  background-color: rgb(180, 208, 231);
}

.jumbotron h1{
  font-size: 5rem;
  padding-top: 100px;
  text-align: left;
  padding-left: 90px;
}

.jumbotron p{
  font-size: 1.3rem;
  padding-left: 90px;
  padding-top: 50px;
}

.jumbo-img img{
  width: 100%;
}

.jumbo-img{
  margin-top: 50px;
  margin-bottom: -100px;
}

.arrow i{
  margin-bottom: 50px;
  margin-left:90px;
  margin-top: 50px;
  font-size: 80px;
}

.btn-space{
  margin-left: 90px;
  margin-top: 50px;
}
.btn-space a:hover, .btn-prova a:hover{
  opacity: 0.7;
  border: 1px solid black;
}

/* /jumbotron */

/* MAIN */

/* Capitello */


h4{
  padding: 10px;
}

.box-btn{
  margin-bottom: 50px;
}

.box h2{
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 100px;
}

div.btn-tondo span{
  margin-right: 20px;
}

.btn-bordo{
  border: 5px solid blue;
}

.btn-no-bordo{
  border: 1px solid black;
}
/* /Capitello */

/* 3 colonne */

div.col{
  border: 1px solid rgb(99, 115, 129);
  margin-bottom: 50px;
}

p.mese{
  color: rgb(99, 115, 129);
}

.box-section li{
  padding: 15px; 
}

.box-section{
  margin-top:40px;
}

.box-info h3{
  font-size: 2rem;
}

div.box-section .btn-prova{
  padding-left: 15px;
}

div.box-section .btn-prova p{
  margin-top: 30px;
  margin-left: 15px;
}

div.box-check i{
  color: rgb(33, 117, 255);
}
a.acquista{
  color: rgb(33, 117, 255);
  text-decoration: underline;
}

a.acquista:hover{
  border: none;
}

hr.riga{
  margin: 30px 15px;
}

div.col-centro{
  margin: 0 45px 0 45px;
}

div.col-left .box-check li:last-child{
  padding-bottom: 216px;
}

div.col-centro .box-check li:last-child{
  padding-bottom: 168px;
}

div.col-right .box-check li:last-child{
  padding-bottom: 168px;
}

/* /3 Colonne */

/* Enterprise */
.col-base{
  border: 1px solid rgb(99, 115, 129);
}

.ent-left, .ent-right{
  padding: 40px;
}

.ent-left{
  width: 65%;
}

.ent-right{
  width: 35%;
  margin-left: 0%;
}

.btn-big{
  padding: 10px 50px;
  transition: 1.5s;
  color: white;
  background-color: rgb(0, 97, 255);
}

.ent-left h3{
  font-size: 2rem;
  margin-bottom: 30px;
}

.ent-left p:first-of-type{
  font-size: 1.2rem;
  margin-bottom: 30px;
}

/* /Enterprise */

/* Partner */

div.box-partner{
  margin-top: 150px;
}

div.partner-left img{
  width: 100%;
}

div.partner-right{
  padding: 50px;
}

div.partner-right h3{
  font-size: 2rem;
  padding-bottom: 30px;
}

div.partner-right p{
  font-size: 1.2rem;
  padding-bottom: 8px;
   
}

div.partner-right p:last-of-type{
  padding-bottom: 40px; 
}

.btn-partner{
  border: 1px solid black;
  transition: 1.5s;
  font-size: 1.2rem;
  background-color: white;
}

.btn-partner:hover{
  background-color: lightgray ;  
}

/* /Partner */

/* Business */

div.business h2{
  font-size: 3rem;
  padding-top: 100px;
  margin-bottom: 50px;
}

div.box-business img{
  width: 100%;
}

div.box-business h3{
  font-size: 2rem;
  margin-bottom: 30px;
}

div.box-business p{
  font-size: 1.3rem;
  margin-bottom: 50px;
}

div.box-business .linea{
  text-decoration: underline;
}

/* /Business */

/* Sponsor */

div.sponsor{
  margin-bottom: 50px;
}

div.sponsor h2{
  margin: 25px 0;
  font-size: 2.5rem;
}

div.sponsor a{
  color: rgb(33, 117, 255);
  text-decoration: underline;
}

div.riquadri img{
  width: 50%;
  margin-top:40%;
  margin-left: 4vw;
  filter: invert(1);
}

div.box-quadrato  .riquadri:hover{
  border: 10px solid lightgrey;
  opacity: 0.7;
}

div.box-sponsor{
  width: 100vw;
  height: 30vw;
}

div.box-quadrato{
  width: 30vw;
  height: 30vw;
}

div.riquadri{
  width: 15vw;
  height: 15vw;
}

div.box-text{
  width:40vw;
}

div.text-sponsor{
  height: 100%;
  background-color: rgb(245, 245, 245);
  overflow: auto; 
}

div.text-sponsor img{
  width: 30%;
  padding: 50px 50px 25px;
}

hr.riga-sponsor{
  width: 8%;
  margin-left: 50px;
  margin-bottom: 50px;
}

div.text-sponsor p{
  margin-left: 50px;
  font-size: 1.2rem;
}

div.text-sponsor p:last-of-type{
  margin-top: 50px;
}

.sfondo-spons-1{
  background-color: rgb(162,211,155);
}

.sfondo-spons-2{
  background-color: rgb(97,8,43);
}

.sfondo-spons-3{
  background-color: rgb(0,147,206);
}

.sfondo-spons-4{
  background-color: rgb(255,28,28);
}

.sfondo-spons-5{
  background-color: rgb(213,0,31);
}

.sfondo-spons-6{
  background-color: rgb(180,208,231);
}

.sfondo-spons-7{
  background-color:rgb(13,36,129)
}

.sfondo-spons-8{
  background-color: rgb(255,216,48);
}

/* /Sponsor */

/* Sponsor base */

div.box-porta{
  width: 100vw;
  background-color: rgb(180, 208, 231);
}

div.base-p-left h2{
  color: rgb(97, 8, 43) ;
  font-size:2.5rem;
  padding-top: 105px;
}

div.base-p-right{
margin-top: 120px;
padding-left: 300PX; 
}

.btn-base{
  transition: 1.5s;
  padding: 10px 30px;
  background-color: white;
}

.btn-base:hover{
  background-color: lightgray ;
}

/* /Sponsor base */

/* Faq */

div.box-faq p{
  padding: 40px 0;
} 

div.box-faq h2{
  padding: 50px 0;
  font-size: 2rem;
}

.chevron{
  margin-top: 45px;
  margin-right: 20px;
} 
/* /Faq */

/* FOOTER */

div.box-foot{
  margin-top: 100px;
  background-color: black;
}

div.col-cal-foot{
  width: calc(100% / 5);
}

div.col-foot{
  color:white;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 100px;
}

div.col-foot li:first-child{
  padding-bottom: 30px;
  font-size: 1.5rem;
}

div.col-cal-foot li:nth-child(1n + 2){
  padding: 10px 0 10px 0;
}

div.col-cal-foot li:nth-child(1n + 2):hover{
  text-decoration: underline;
}

div.foot{
  background-color: black;
}

div.riga-foot{
  width: 8%;
  border: 1px solid rgb(153,153,153);
  margin-left: 250px;  
}

div.lingua-foot{
  padding: 30px;
}

div.lingua-foot a{
  color: rgb(153,153,153); 
}

div.lingua-foot a:first-of-type{
  margin-left: 220px;
}

div.lingua-foot a:last-of-type{
  font-size: 0.7rem;
}
/* /FOOTER */
