/* HEADER */

/* Lista menu */

nav ul li {
  display: inline-block;
  padding: 25px 25px 0 25px;
  font-size: 18px;
}

nav li:hover{
  padding-bottom: 20px;
  border-bottom: 5px solid black;
}

.btn-small{
  color: white;
  background-color: rgb(0, 97, 255);
}

.btn-small:hover{
  color: rgb(3, 3, 3);
}

.text-right a:hover{
  background-color: white;
  border: 1px solid black;
}

.text-right li:last-child{
  padding-bottom: none;
  border-bottom: none;
}

/* /lista menu */

/* /jumbotron */

.jumbotron{
  margin-top: 100px;
  background-color: rgb(180, 208, 231);
}

.jumbotron h1{
  font-size: 5rem;
  padding-top: 100px;
  text-align: left;
  padding-left: 90px;
}

.jumbotron p{
  font-size: 1.3rem;
  padding-left: 90px;
  padding-top: 50px;
}

.jumbo-img img{
  width: 100%;
}

.jumbo-img{
  margin-top: 50px;
  margin-bottom: -100px;
}

.arrow i{
  margin-bottom: 50px;
  margin-left:90px;
  margin-top: 50px;
  font-size: 80px;
}

.btn-space{
  margin-left: 90px;
  margin-top: 50px;
}
.btn-space a:hover{
  background-color: white;
  border: 1px solid black;
}

/* /jumbotron */

/* MAIN */

/* Colonna centrale */

.box-btn{
  margin-bottom: 50px;
}

.box h2{
  font-size: 3rem;
  margin-top: 100px;
  margin-bottom: 100px;
}

div.btn-tondo span{
  margin-right: 20px;
}

.btn-bordo{
  border: 5px solid blue;
}

.btn-no-bordo{
  border: 1px solid black;
}
