
.container{
  max-width: 1500px;
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.btn{
  padding: 10px 15px;
}






















/* DEBUG */
.debug{
  width: 100%;
  background-color: rgba(0, 4, 255, 1);
  border: 1px solid black;
}

.debug2{
  background-color: rgba(0, 255, 255, 0.8);
  border: 1px solid black;
}

.debug3{
  background-color: rgba(0, 255, 200, 0.8);
  border: 1px solid black;
}

.h100{
  min-height: 100px;
}

.h200{
  min-height: 200px;
}

.h300{
  min-height: 300px;
}

.h400{
  min-height: 400px;
}

.h500{
  min-height: 500px;
}

.h600{
  min-height: 600px;
}
.h800{
  min-height: 800px;
}




.w20{
  width: 20%;
}

.w30{
  width: 30%;
}

.w40{
  width: 40%;
}

.w50{
  width: 50%;
}

.w60{
  width: 60%;
}

.w80{
  width: 80%;
}

.w90{
  width: 90%;
}